spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: "#@Ditya06"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET}
  access-expiration: 900000
  refresh-expiration: 604800000

#  14fdc846-6222-4ce1-b7b4-67fd76654be8